.container {
  width: 1230px;
  margin: auto;
  padding-inline: 20px;
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-family: "Ubuntu";
  font-size: 28px;
  font-weight: 700;
  color: #1565c0;
}

.list {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.item {
  font-family: "Ubuntu";
  list-style: none;
  color: #5d6878;
  margin: auto;
  padding: 0;
}

.item_title {
  font-size: 16px;
  margin-bottom: 15px;
}

.item_body {
  font-size: 14px;
}
