.container {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  font-family: "Ubuntu";
  cursor: pointer;
  transition: transform 0.1s linear;
  user-select: none;
  padding-inline: 7px;
}

.item_select {
  border: 1px solid #1565c0;
  border-radius: 8px;
  background: #e3f2fd;
  color: #0d47a1;
  pointer-events: none;
}

.item:hover {
  transform: scale(1.25);
}

.item:active {
  transform: scale(1.15);
}
